@use "variables" as *;
.navbar {
  box-shadow: 0 0 0.5rem $vscode;
  margin: 0;
  padding: 0;
}
.header-app-logo {
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 1rem;
  width: 2.5rem;
}
.navbar-nav {
  margin: 0 0 0 2.5rem;
  padding: 0;
  li.nav-item {
    margin: 0 0.25rem;
    padding: 0;
    a {
      border: 3px solid transparent;
      border-radius: 0.75rem;
      color: var(--theme-navbar-color);
      display: block;
      margin: 0;
      padding: 0.5rem 1rem !important;
      text-decoration: none;
      transition: background-color 0.3s ease, border-color 0.3s ease,
        color 0.3s ease;

      &:focus,
      &:hover {
        background: var(--theme-nav-hover-bg);
        border-color: var(--theme-nav-hover-border);
        color: var(--theme-nav-hover-color);
        font-weight: bold;
      }

      &.active {
        background: var(--theme-nav-active-bg) !important;
        border: 3px solid var(--theme-nav-active-border) !important;
        color: var(--theme-nav-active-color) !important;
        font-weight: bold;
      }
    }
  }
}
