a.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  text-indent: -10000px;
  transform: translateY(-100%);
  transition: transform 0.3s;
  &:hover,
  &:focus-visible {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
    transform: translateY(0%);
    height: 2rem;
    padding: 0.25rem 1rem;
    text-indent: 0;
    outline: none;
    outline-offset: 0;
    z-index: 999999;
    background: yellow;
    color: blue;
  }
}

.grid-auto-fill {
  --min-col-size: 25rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-col-size), 1fr));
  gap: 2rem;
  margin-top: -2rem;
}
