:root {
  --code-light: #00681e;
  --code-dark: #00be1e;
}

//--    Colours
$barbie: #d118fe;
$chuck: #bada55;
$code: #6300ff;
$vscode: #193549;

$claret: #6a0117;
$amber: #fd9402;

$blue: #0000ff;
$red: #ff0000;
$yellow: #ffff00;

$grey400: #ccc;
$grey500: #ddd;
$grey550: #d4d4d4;
$grey600: #eee;
$grey650: #ededed;
$grey700: #f5f5f5;

$black200: #222;
$black300: #333;
$black400: #444;

//-----    Grey band
$bandgrey50: #b9b9b9;
$bandgrey200: #959593;
$bandgrey200: #555553;
$bandgrey300: #393939;
$bandgrey400: #282828;

//-----    Multi-colour band
$orange200: #eab43d;
